; config.ini
[DEFAULT]
SLACK_API_TOKEN = xoxb-...
CHANNEL_ID = C04LZKF6VEC

START_DATE = 2023-01-25
GARDENING_DAYS = 100

[MONGO]
DATABASE = garden8
HOST = localhost
PORT = 27017

[MONITOR]
CHANNEL_ID = C04LPE092H5