; config.ini
[DEFAULT]
SLACK_API_TOKEN = xoxb-...
CHANNEL_ID = C04LZKF6VEC

START_DATE = 2023-08-13
GARDENING_DAYS = 100

[MONGO]
DATABASE = garden9
HOST = localhost
PORT = 27017
USERNAME = ****
PASSWORD = ****

[MONITOR]
CHANNEL_ID = C04LPE092H5